<!DOCTYPE html>
<html>
<head>
  <title>TranslatedModel</title>
  <%= stylesheet_link_tag    "translated_model/application", media: "all" %>
  <%= javascript_include_tag "translated_model/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
